@model PostCore.MainApp.ViewModels.MyBranch.IndexViewModel

@{
    ViewBag.Title = "Set My Branch";
    Layout = "_MainLayout";
}


<div class="card m-2">
    <h5 class="card-header">My branch:</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-2">
                <label>Name</label>
            </div>
            <div class="col-10">
                <label>@(Model.MyBranch?.Name ?? "<No branch>")</label>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label>Address</label>
            </div>
            <div class="col-10">
                <label>@(Model.MyBranch?.Address ?? "<No branch>")</label>
            </div>
        </div>
    </div>
</div>

<div class="card m-2">
    <h5 class="card-header">Set My branch:</h5>
    <div class="card-body">
        <form asp-action="SetMyBranch" method="post">
            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
            <div class="form-group">
                <label for="id">My branch is</label>
                <select class="form-control" name="id">
                    @foreach (var b in Model.Branches)
                    {
                        <option value="@b.Id"
                                selected="@(Model.MyBranch != null && b.Id == Model.MyBranch.Id)">
                            @b.Name
                        </option>
                    }
                </select>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Save</button>
                <a href="@Model.ReturnUrl" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
