@model IEnumerable<User>

@{
    ViewBag.Title = "Users list";
    Layout = "_MainLayout";
}


<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>UserName</th>
            <th>Email</th>
            <th>FirstName</th>
            <th>LastName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td>@user.Id</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary"
                       asp-action="Edit"
                       asp-route-id="@user.Id">Edit</a>
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>


                @*<form asp-action="Delete" method="post">
                    <input type="hidden" name="id" value="@user.Id" />
                    <button asp-action="Edit" asp-method="get" asp-route-id="@user.Id" class="btn btn-warning btn-sm">
                        Edit
                    </button>
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>*@
            </td>
        </tr>
        }
    </tbody>
</table>
<a asp-action="Create" class="btn btn-primary">Create New User</a>