@model PostCore.MainApp.ViewModels.Courier.MailViewModel

@{
    ViewBag.Title = "Driver - Stock mail";
    Layout = "_MainLayout";

    var optionsFormId = "optionsForm";
    var optionsInputId = "options";
    var submitButtonId = "options";
    var filterKeyPersonTo = "personTo";
    var filterKeyAddressTo = "addressTo";
    var filterKeyToInputId = new Dictionary<string, string>
{
{ filterKeyPersonTo, "options_filters_personTo" },
{ filterKeyAddressTo, "options_filters_addressTo" },
};
}

<script>
    $(document).ready(function () {
        var loc = new PostCoreJs.ListOptionsContext("@Model.CurrentListOptions");
        loc.formId = "@optionsFormId";
        loc.optionsInputId = "@optionsInputId";
        loc.addFilterKeyInputPair("@filterKeyPersonTo", "@filterKeyToInputId[filterKeyPersonTo]");
        loc.addFilterKeyInputPair("@filterKeyAddressTo", "@filterKeyToInputId[filterKeyAddressTo]");
        loc.resetPageOnSubmit = true;

        loc.fillForm();
        loc.setupSubmitButton("@submitButtonId");
    });
</script>

<div class="card m-2">
    <h5 class="card-header">Filters:</h5>
    <div class="card-body">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="@filterKeyToInputId[filterKeyPersonTo]">Person to:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="@filterKeyToInputId[filterKeyPersonTo]" />
                <div><span validation-key="@filterKeyPersonTo" class="text-danger"></span></div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="@filterKeyToInputId[filterKeyAddressTo]">Address to:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="@filterKeyToInputId[filterKeyAddressTo]" />
                <div><span validation-key="@filterKeyAddressTo" class="text-danger"></span></div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <button class="btn btn-primary" id="@submitButtonId">Filter</button>
            </div>
        </div>
        <form asp-action="CarMail" id="@optionsFormId" method="get">
            <input type="hidden" id="@optionsInputId" name="@optionsInputId" />
        </form>
    </div>
</div>

<div class="card m-2">
    <h5 class="card-header">Mail:</h5>
    <div class="card-body">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th>
                        <sorta action="CarMail"
                               display-name="ID"
                               list-options="@Model.CurrentListOptions"
                               sort-key="Id" />
                    </th>
                    <th>
                        <sorta action="CarMail"
                               display-name="Person to"
                               list-options="@Model.CurrentListOptions"
                               sort-key="PersonTo" />

                    </th>
                    <th>
                        <sorta action="CarMail"
                               display-name="Address To"
                               list-options="@Model.CurrentListOptions"
                               sort-key="AddressTo" />

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model.Mail)
                {
                    <tr>
                        <td>@post.Id</td>
                        <td>@post.PersonTo</td>
                        <td>@post.AddressTo</td>
                        <td>
                            <form asp-action="DeliverPost" method="post" class="form-inline">
                                <input type="hidden" name="postId" value="@post.Id" />
                                <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                                <button type="submit" class="btn btn-primary">Deliver</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="text-center"
             list-options="@Model.CurrentListOptions"
             pagination-info="@Model.Mail.PaginationInfo"
             page-class="btn btn-outline-primary"
             page-class-current="active"></div>

    </div>
</div>