@model PostCore.MainApp.ViewModels.Branches.IndexViewModel

@{
    ViewBag.Title = "Branches list";
    Layout = "_MainLayout";

    var optionsFormId = "optionsForm";
    var optionsInputId = "options";
    var submitButtonId = "options";
    var filterKeyName = "name";
    var filterKeyAddress = "address";
    var filterKeyToInputId = new Dictionary<string, string>
{
{ filterKeyName, "options_filters_name" },
{ filterKeyAddress, "options_filters_address" }
};

}

<script>
    $(document).ready(function () {
        var loc = new PostCoreJs.ListOptionsContext("@Model.CurrentListOptions");
        loc.formId = "@optionsFormId";
        loc.optionsInputId = "@optionsInputId";
        loc.addFilterKeyInputPair("@filterKeyName", "@filterKeyToInputId[filterKeyName]");
        loc.addFilterKeyInputPair("@filterKeyAddress", "@filterKeyToInputId[filterKeyAddress]");
        loc.resetPageOnSubmit = true;

        loc.fillForm();
        loc.setupSubmitButton("@submitButtonId");
    });
</script>

<div class="card m-2">
    <h5 class="card-header">Filters:</h5>
    <div class="card-body">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="@filterKeyToInputId[filterKeyName]">Branch name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="@filterKeyToInputId[filterKeyName]" />
                <div><span validation-key="@filterKeyName" class="text-danger"></span></div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="@filterKeyToInputId[filterKeyAddress]">Branch address:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="@filterKeyToInputId[filterKeyAddress]" />
                <div><span validation-key="@filterKeyAddress" class="text-danger"></span></div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-12">
                <button class="btn btn-primary" id="@submitButtonId">Filter</button>
            </div>
        </div>
        <form asp-action="Index" id="@optionsFormId" method="get">
            <input type="hidden" id="@optionsInputId" name="@optionsInputId" />
        </form>
    </div>
</div>

<div class="card m-2">
    <h5 class="card-header">Branches:</h5>
    <div class="card-body">
        <table class="table table-sm table-striped">
            <thead>
                <tr>
                    <th>
                        <sorta action="Index"
                               display-name="ID"
                               list-options="@Model.CurrentListOptions"
                               sort-key="Id" />
                    </th>
                    <th>
                        <sorta action="Index"
                               display-name="Name"
                               list-options="@Model.CurrentListOptions"
                               sort-key="Name" />
                    </th>
                    <th>
                        <sorta action="Index"
                               display-name="Address"
                               list-options="@Model.CurrentListOptions"
                               sort-key="Address" />
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var branch in Model.Branches)
                {
                    <tr>
                        <td>@branch.Id</td>
                        <td>@branch.Name</td>
                        <td>@branch.Address</td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@branch.Id" method="post">
                                <a class="btn btn-sm btn-primary"
                                   asp-action="Edit"
                                   asp-route-id="@branch.Id"
                                   asp-route-returnUrl="@Model.ReturnUrl">Edit</a>
                                <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="text-center"
             list-options="@Model.CurrentListOptions"
             pagination-info="@Model.Branches.PaginationInfo"
             page-class="btn btn-outline-primary"
             page-class-current="active"></div>

    </div>
</div>

<div class="card m-2">
    <h5 class="card-header">Actions:</h5>
    <div class="card-body">
        <a asp-action="Create"
           asp-route-returnUrl="@Model.ReturnUrl"
           class="text-center btn btn-primary">
            Create New Branch
        </a>
    </div>
</div>